@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: white;
}


/* navbar styling */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.nav {
    display: flex;
    flex-direction: row;
}

.navbar a:hover {
    text-decoration: underline pink;
}

.site_header {
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(214, 201, 242, 0.714)),
        url('images/chelson-tamares-CdnZrvMUsBE-unsplash.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    width: 100%;
}

.site_logo {
    width: 40px;
    height: 40px;
}

.site_logo-go {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.phrase {
    margin: 100px auto;
    text-align: center;
}

.site_phrase h2 {
    padding: 50px 0 0 0;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 700; */
}

.site_phrase p {
    font-size: 20px;
    padding-bottom: 20px;
}

.btn {
    font-size: 1em;
    padding: 10px;
    background-color: #aaa1a8;
    border-radius: 9px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #dfdce3;
    color: #030303;
}
@media (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .site_phrase h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .site_phrase h2 {
        font-size: 20px;
    }
}

/* Introduction/About */
.intro_sect {
    height: 100vh;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-family: inherit;
}

.intro_content h2 {}

.intro_content_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.intro_para_container {
    width: 60%;
}

.intro_para_container p {
    width: 100%;
}

span {
    font-size: 30px;
    color: palevioletred;
    font-family: cursives;
}

.about_img_container {
    max-width: 40%;
    padding: 10px;
}

.about_img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin: 10px;
}

/* service section */
.service_section {
    height: 100vh;
}

.service_content h2 {
    text-align: center;
    font-size: 50px;
}

.all_cards {
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 20%;
    border-radius: 5px;
    margin: 2%;
    box-shadow: 1px 1px 5px gray;
}

.image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title {

    text-align: center;
    padding: 10px;

}

h1 {
    font-size: 20px;
}

.des {
    padding: 3px;
    text-align: center;

    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: #cbb0ee;
    color: black;
    transition: .5s;
    cursor: pointer;
}

/* gallery section */
.gallery_sect {
    height: 100vh;
    padding: 0%;
    margin-bottom: 250px;
}

.gallery_row {
    display: flex;
    padding: 4px 0;
    flex-wrap: wrap;

}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 4px 0;
}

.gallery_content h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}

.gallery_img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* shop section  */
.shop_text {
    /* font-size: 20px; */
    text-align: center;
    padding: 50px;
}

.shop_text h2 {
    font-size: 80px;
}

.shop_text p {
    font-size: 40px;
}

.shops {
    padding: 80px;
    margin: 100px auto;
    width: 100%;
    background-color: rgb(206, 127, 172);
    height: 100vh;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.shop_btn {
    background-color: rgb(206, 127, 172);
    width: 100px;
    font-size: 15px;
}

.shop_btn:hover {
    background-color: #5b2647;
    color: #fff;
}

/* contact section */
.contact_section {
    width: 50%;
    border-radius: 5px;
    margin: 100px auto;
    height: 100vh;

}

.container {
    padding: 30px;
    margin-top: 100px auto;
    width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 80px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid rgb(214, 152, 201);
    border-radius: 5px;
    outline: invert;
    background-color: #dfdce3;
}

input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid rgb(214, 152, 201);
    border-radius: 5px;
    outline: invert;
    background-color: #dfdce3;
}

input[type=submit] {
    background-color: white;
    padding: 12px 20px;
    border: 1px solid;
    cursor: pointer;
    margin-left: 160px;
    border-radius: 2px;
}

input[type=submit]:hover {
    background-color: #5b2647;
    color: white;
}

.text_place {
    margin: 50px;
    color: #230123;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* footer */
footer {
    padding: 3px;
    background-color: rgb(31, 27, 30);
    height: 50vh;

}

footer p {
    text-decoration: underline;
}