@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.site_header {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(214, 201, 242, 0.714)),
    url('images/chelson-tamares-CdnZrvMUsBE-unsplash.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    /* object-fit: cover; */
}

.site_logo {
    width: 40px;
    height: 40px;
}

.site_logo-go {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.phrase{
    margin-top: 50px;
    text-align: center;
}
.site_phrase h2{
    padding: 50px;
    text-align: center;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.site_phrase p{
    font-size: 20px;
    /* width: 600px; */
    margin: 15px auto;
    /* text-align: center; */
}
.btn {
    font-size: 1em;
    padding: 10px;
    background-color: rgb(238, 240, 241);
    border-radius: 9px;
    border: none;
}
.btn:hover{
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: palevioletred;
    color: #fff;
}

/* Introduction/About */
.intro_sect {
    height: 100vh;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: inherit;
}
.intro_content h2{
  text-decoration: underline; 
  color: palevioletred; 
}

.intro_content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.intro_para_container{
    width: 60%;
}
.intro_para_container p{
    width: 100%;
}
span{
    font-size: 20px;
    color: palevioletred;
}

.about_img_container {
    max-width: 40%;
    padding: 10px;
}

.about_img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin: 10px;
}